/* -------------------------------------------------------------------- */
/*        CUSTOM PROPERTIES                                             */
/* -------------------------------------------------------------------- */

:root {
  --color-oscuro: 230 35% 7%;
  --color-claro: 231 77% 90%;
  --color-blanco: 0 0% 100%;

  /* font-sizes */
  /* clamp() en este caso sirve para establecer --fs-900 en la manera flexible dependiendo de la anchura de la ventana del navegador. El primer numero es tamaño minimo, el ultimo es el tamaño maximo. Y en el medio es la parte flexible */
  --fs-900: clamp(6rem, 8vw + 1rem, 9.375rem);
  /* --fs-900: 9.375rem; */
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 37rem) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 50rem) {
  :root {
      /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* -------------------------------------------------------------------- */
/*        RESET                                                         */
/* -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Poner detalles del body */
/* Por defecto line-heigth es 1.4 y es aparentamente poco */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--color-claro));
  background-color: hsl(var(--color-oscuro));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* Para trabajar mas facil con las imagenes */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Para trebajar mas facil con elementos de formularios */
input,
button,
textarea,
select {
  font: inherit;
}

/* Quitar las animaciones y transiciones para las personas que lo 
 solicitaron en su navegador o OS. Medida de accesibilidad */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------- */
/*         CLASES UTILES                                                */
/* -------------------------------------------------------------------- */

.linea {
  border: 1px solid red;
  /* --gap: 3rem; */
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow> :where(:not(:first-child)) {
  margin-top: var(--flow-espacio, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

/* Esta clase sirve para visualmente ocultar el contenido cual esta 
destinado para lectores de pantalla que usan los usuarios con problemas de vista */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

/* Colores */

.fondo-oscuro {background-color: hsla(var(--color-oscuro));}
.fondo-claro {background-color: hsla(var(--color-claro));}
.fondo-blanco {background-color: hsla(var(--color-blanco));}

.color-oscuro {color: hsla(var(--color-oscuro));}
.color-claro {color: hsla(var(--color-claro));}
.color-blanco {color: hsla(var(--color-blanco));}

.ff-serif {font-family: var(--ff-serif);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}

.espacio-letras-1 {letter-spacing: 4.75px;}
.espacio-letras-2 {letter-spacing: 2.7px;}
.espacio-letras-3 {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase;}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.titulo-numerado {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}
.titulo-numerado span {
  color: hsla(var(--color-blanco) / .25);
  margin-right: 0.5em;
  font-weight: 700;
}


/* -------------------------------------------------------------------- */
/*         COMPONENTES                                                  */
/* -------------------------------------------------------------------- */

/* Boton enorme principal */

.botton-principal {
  font-size: 2rem;
  display: inline-grid;
  position: relative;
  place-items: center;
  padding-inline: 3rem;
  z-index: 1;
  aspect-ratio: 1;
  border-radius: 50%;
  text-decoration: none;
}

.botton-principal::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl( var(--color-blanco) / .15);
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.botton-principal:hover::after,
.botton-principal:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Navegacion principal */

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* margin-left: 2rem; */
  margin: 1.5rem clamp(2.5rem, 5vw, 4.5rem);
}

.navegacion-principal {
  --gap: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  --espacio-subrayado: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--color-blanco) / 0.05);
  -webkit-backdrop-filter: blur(1.5rem);
  backdrop-filter: blur(1.5rem);
}
.navegacion-principal a {
  text-decoration: none;
}

.navegacion-principal a > span {
margin-right: 0.5rem;
font-weight: 700;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 37em) {
  .navegacion-principal {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    --espacio-subrayado: 0.5rem;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .navegacion-principal[data-visible='true'] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    z-index: 2000;
    position: absolute;
    display: block;
    top: 1.5rem;
    right: 1rem;
    border: 0;
    width: 1.5rem;
    aspect-ratio: 1;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }
}

@media (min-width: 37em) {
  .navegacion-principal {
    padding-inline: clamp(3rem, 9vw, 10rem);
  }
}

@media (min-width: 37em) and (max-width: 49.9999rem) {
    .navegacion-principal a > span {
      display: none;
    }
}

@media (min-width: 50em) {

  .primary-header::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 0.1rem;
    margin-right: -2.5rem;
    background-color: hsl( var(--color-blanco) / 0.25);
    order: 1;
  }

  nav {
    order: 2;
  }

  .navegacion-principal {
    margin-block: 2rem;
  }
}

.indicador-subrayado > * {
  cursor: pointer;
  padding: var(--espacio-subrayado, .50em) 0;
  border: 0;
  border-bottom: 0.3rem solid hsl(var(--color-blanco) / 0);
  background-color: transparent;
}

.indicador-subrayado > [aria-selected="true"] {
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1); 
}
@media (hover: hover) {
  .indicador-subrayado > *:hover {
    border-bottom: 0.3rem solid hsl(var(--color-blanco) / 0.5);
  }
}

@media (min-width: 37em) {
  .indicador-subrayado .active {
    border-color: hsl(var(--color-blanco) / 1);
  }
}


/* Navegacion pestañas */

.nav-tabs {
  --gap: 2rem;
}
/* Navegacion puntos */

.nav-puntos > button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: hsl( var(--color-blanco) / .25);
}
.nav-puntos > button:hover {
  background-color: hsl(var(--color-blanco) / 0.5);
}
.nav-puntos > [aria-selected='true'] {
  background-color: hsl( var(--color-blanco) / 1);
}

/* Navegacion numeros */

.nav-numeros {
  flex-direction: column;
  align-items: flex-start;
}

.nav-numeros > button {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1rem;
  border: 0.1rem solid hsl( var(--color-blanco) / .25);
}
.nav-numeros > button:hover {
  border: 0.1rem solid hsl( var(--color-blanco) / 0.5);
}
.nav-numeros > [aria-selected='true'] {
  color: hsl(var(--color-oscuro) / 1);
  background-color: hsl(var(--color-blanco) / 1);
  border-color: hsl( var(--color-blanco) / 1);
}

/* -------------------------------------------------------------------- */
/*         IMAGENES DE FONDO                                            */
/* -------------------------------------------------------------------- */

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
}
@media (min-width: 37em) {
  .home {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 50em) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}

.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}
@media (min-width: 37em) {
  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 50em) {
  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
}

.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
}
@media (min-width: 37em) {
  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 50em) {
  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
}

.technology {
  background-image: url(./assets/technology/background-technology-mobile.jpg);
}
@media (min-width: 37em) {
  .technology {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
}
@media (min-width: 50em) {
  .technology {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
  }
}

/* -------------------------------------------------------------------- */
/*         LAYOUTS                                                      */
/* -------------------------------------------------------------------- */

.grid-container {
  display: grid;
  place-items: center center;
  text-align: center;
  padding-inline: 1rem;
  padding-bottom: 5rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

/* Home page */

@media (min-width: 50em) {
  .grid-container {
    text-align: left;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
  }
  .grid-container--home {
    align-items: end;
    padding-bottom: max(6rem, 20vh);
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    grid-column: 3;
  }
}

/* Destination page */

.grid-container--destination {
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content'
  ;
}

.grid-container--destination > h1 {
  grid-area: title;
}

.grid-container--destination > picture {
  grid-area: image;
  max-width: 60%;
  align-self: start;
}

.grid-container--destination > .nav-tabs {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.opacidad-off {
  opacity: 0;
  transition: opacity 250ms linear;
}


.destination-meta {
  flex-direction: column;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid hsla(var(--color-claro) / .3);
}
.destination-meta p {
  font-size: 1.75rem;
}

@media (min-width: 37em) {
  .titulo-numerado {
    justify-self: start;
    margin-block: 2rem;
  }
  .grid-container--destination > picture {
    max-width: 40%;
  }
  .grid-container--destination .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 50em) {
  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      '.  title   title     .'
      '.  image   tabs      .'
      '.  image   content   .';
  }
  .grid-container--destination > picture {
    max-width: 90%;
  }
  .grid-container--destination .destination-meta {
    justify-content: start;
    --gap: min(4vw, 6rem);
  }
}

/* Crew page layout */

.grid-container--crew {
  --flow-space: 2rem;
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'contenido';
}
.grid-container--crew > h1 {
  grid-area: title;
}
.grid-container--crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl( var(--color-claro) / 0.25);
}
.grid-container--crew > .nav-puntos {
  grid-area: tabs;
}
.grid-container--crew > .crew-info {
  grid-area: contenido;
}
.crew-info h2 {
  color: hsl( var(--color-blanco) / 0.5);
}
@media (min-width: 37em) {
  .grid-container--crew {
    grid-template-areas: 
      'title'
      'contenido'
      'tabs'
      'image';
  }
}
@media (min-width: 50em) {
  .grid-container--crew {
    grid-template-columns: minmax(1rem, 1fr)  minmax(0, 40rem)  minmax(0, 35rem)  minmax(1rem, 1fr);
    justify-items: start;
    grid-template-areas: 
    '. title image .'
    '. contenido image .'
    '. tabs image .';
  }
  .grid-container--crew > picture {
    max-width: 90%;
    align-self: end;
  }
}

/*  Technology Page */

.nav-numeros {
  flex-direction: row;
}
.technology main {
  padding-inline: 0;
}
.technology picture, picture > img {
  width: 100%;
}

@media (min-width: 37rem) {
  .technology h1 {
    margin-left: 1rem;
  }
}
@media (min-width: 50rem) {
  .grid-container--technology {
    column-gap: 2rem;
    grid-template-columns: minmax(1rem, 5rem) minmax(0, 5rem) minmax(0, 3fr) minmax(0, 2fr) ;
    grid-template-areas: 
      '. title title title'
      '. tabs content image'
    ;
  }
  .grid-container--technology > h1 {
    grid-area: title;
  }
  .grid-container--technology > picture {
    grid-area: image;
  }
  .grid-container--technology > .nav-numeros {
    grid-area: tabs;
    flex-direction: column;
    justify-self: start;
  }
  .grid-container--technology > .technology-info {
    grid-area: content;
    justify-self: start;
  }
}

/*  Ajustes minusculas */

@media (max-width: 37rem) {
  .grid-container {
    --flow-espacio: 2rem;
  }
  .logo {
    margin-inline: 1rem;
    max-width: 50%;
  }
  .botton-principal {
    padding-inline: 2rem;
    margin-top: 2rem;
  }
}