/* -------------------------------------------------------------------- */
/*        CUSTOM PROPERTIES                                             */
/* -------------------------------------------------------------------- */

:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
}

/* -------------------------------------------------------------------- */
/*        RESET                                                         */
/* -------------------------------------------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Enlace a un reset simple y moderno en la web utilizado por el profe */

/* Box sizing */
/* Con eso hacemos que cuando declaramos, por ejemplo, width de 500px en 
un DIV... que dentro de estos 500px entran bordes, padding y contenido y
 que los margenes no entran. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resetear margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Poner detalles del body */
/* Por defecto line-heigth es 1.4 y es aparentamente poco */
body {
  line-height: 1.5; 
  min-height: 100vh;
}

/* Para trabajar mas facil con las imagenes */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Para trebajar mas facil con elementos de formularios */
input,
button,
textarea,
select {
  font: inherit;
}

/* Quitar las animaciones y transiciones para las personas que lo 
solicitaron en su navegador o OS. Medida de accesibilidad */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------- */
/*        UTILITY CLASSES                                               */
/* -------------------------------------------------------------------- */

/* General */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Esta clase sirve para visualmente ocultar el contenido cual esta 
destinado para lectores de pantalla que usan los usuarios con problemas de vista */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/*  Colors */
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}
